.tsslk_widget .widget-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.tsslk_widget button.lk-icon:before {
	content: "";
    background-image: url(../src/lit_kalendar.png);
    height: 1em;
    width: 1em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
	top: -2px;	
    right: 10px;
    margin-left: 10px;
}

.tsslk_lit_kalendar_widget_vers {
    margin-top: 0;
    text-align: center;
    line-height: 1.618em;
    padding: 0px 5px 5px 5px;
}